@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);

header > div.navbar > div {
	margin-left: 15px;
	margin-right: 15px;
	margin-top:5px;
	width: 100%;
	height:100%;
	padding:15px;
	border-radius: 10px;
	backdrop-filter: blur(15px);
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

header nav {
	background-color: rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(20px);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
}

header nav span {
	color: black;
	padding:0;
	margin-left:0;
	margin-right:0;
	margin-top:25px;
	right: 70px;
	position: absolute;
}

header nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: absolute;
	left: 50%;
	top: 170px;
	transition: all 0.3s ease-in-out;
	transform: translateX(-50%);
}

header nav ul li {
	transform: translateY(50px);
	opacity: 0;
}

header nav ul li a {
	display: block;
	font-size: 2em;
	text-decoration: none;
	padding: 10px 0;
	text-align: center;
	color: #000;
	font-weight: 500;
	transition: all 0.2s ease-in-out;
	/* text-shadow: 0px 0px 5px rgba(0, 0, 0, 1); */
}

header nav ul li a:hover {
	color: rgb(102, 204, 255);
}

.toggle-btn {
	display: block;
	position: fixed;
	z-index: 10;
	right: 30px;
	top: 20px;
	cursor: pointer;
}

.toggle-btn .bar {
	width: 30px;
	height: 2px;
	margin: 7px auto;
	background-color: #000;
	transition: all 0.3s ease-in-out;
}

#toggle:checked ~ nav {
	opacity: 1;
	visibility: visible;
}

#toggle:checked ~ nav ul {
	top: 70px;
}

#toggle:checked ~ nav ul li {
	transform: translateY(0px);
	opacity: 1;
}

#toggle:checked ~ nav ul li:nth-child(1) {
	transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.1s;
}

#toggle:checked ~ nav ul li:nth-child(2) {
	transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.2s;
}

#toggle:checked ~ nav ul li:nth-child(3) {
	transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.3s;
}

#toggle:checked ~ nav ul li:nth-child(4) {
	transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.4s;
}

#toggle:checked + label.toggle-btn .bar {
	background-color: black;
}

#toggle:checked + label.toggle-btn .bar:nth-child(2) {
	transform: translateZ(50px);
	opacity: 0;
}

#toggle:checked + label.toggle-btn .bar:nth-child(1) {
	transform: translateY(10px) rotate(45deg);
}

#toggle:checked + label.toggle-btn .bar:nth-child(3) {
	transform: translateY(-8px) rotate(-45deg);
}

div#carouselLanding div.carousel-item {
    background-image: linear-gradient(to bottom right, blue, cyan);
    height: 100vh;
    justify-content: center;
    align-items: center;
}

div#carouselLanding div.carousel-item > h1 {
    text-align: center;
    color: white;
}

.wordCarousel {
	font-size: 48px;
	font-weight: 100;
	color: #eee;
}

.wordCarousel div {
	overflow: hidden;
	height: 70px;
	padding-top: 10px;
	margin-top: -10px;
}
.wordCarousel div > ul {
	padding: 0;
}

.wordCarousel div li {
	color: #eee;
	font-weight: 700;
	padding: 0;
	height: 45px;
	margin-bottom: 45px;
	display: block;
}

.flip2 {
	animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

.flip3 {
	animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

.flip4 {
	animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@keyframes flip2 {
	0% {
		margin-top: -180px;
	}

	5% {
		margin-top: -90px;
	}

	50% {
		margin-top: -90px;
	}

	55% {
		margin-top: 0px;
	}

	99.99% {
		margin-top: 0px;
	}

	100% {
		margin-top: -270px;
	}
}

@keyframes flip3 {
	0% {
		margin-top: -270px;
	}

	5% {
		margin-top: -180px;
	}

	33% {
		margin-top: -180px;
	}

	38% {
		margin-top: -90px;
	}

	66% {
		margin-top: -90px;
	}

	71% {
		margin-top: 0px;
	}

	99.99% {
		margin-top: 0px;
	}

	100% {
		margin-top: -270px;
	}
}

@keyframes flip4 {
	0% {
		margin-top: -360px;
	}

	5% {
		margin-top: -270px;
	}

	25% {
		margin-top: -270px;
	}

	30% {
		margin-top: -180px;
	}

	50% {
		margin-top: -180px;
	}

	55% {
		margin-top: -90px;
	}

	75% {
		margin-top: -90px;
	}

	80% {
		margin-top: 0px;
	}

	99.99% {
		margin-top: 0px;
	}

	100% {
		margin-top: -270px;
	}
}

section.row {
	margin-bottom: 70px;
	margin-top: 50px;
}

section#short-intro {
	align-items: center;
}

section#short-intro > h2 {
	text-align: center;
}

section#short-intro p#short-intro-p {
	margin-top: 5vh;
	line-height: 200%;
	font-size: 1.2rem;
}

section#short-intro div:nth-child(1) {
	width: 265px;
	height: 265px;
	border-radius: 50%;
	background: linear-gradient(to bottom,white,grey);
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 2px black;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

section#short-intro img#profile-pic {
	background-color: white;
	width : 250px;
	height: 250px;
	object-fit: cover;
	border-radius: 50%;
	border: solid 1px gray;
}


section#short-intro p > a{
	text-decoration: none;
	color:rgb(47, 111, 174);
}

div.bar-content {
	font-size: 1.2rem;
	width:100%;
	height:40vh;
	padding: 20px;
	background-image: linear-gradient(to top left, blue, cyan);
	color:white;
	flex-direction:column;
	align-items:center;
	justify-content: center;
	margin-bottom:30px;
}
section#current > h3 {
	margin-bottom: 30px;
}

section#current > ul{
	justify-content: space-around;
}

section#current li > div {
	border-radius: 10px;
	border: solid 1px white;
	box-shadow: 1px 1px 10px 0px gray;
	margin-bottom: 40px;
	padding: 15px;
	position: relative;
	font-size: 1.15rem;
}

section#current li > div a {
	right:10px;
	bottom:10px;
	text-decoration: none;
	color:rgb(47, 111, 174);
}

/* section#current li:nth-child(3) {
	flex-basis: auto;
} */


div#hope-and-vision{
	background-color: rgba(0, 0, 0, 0.05);
	margin: 0;
}

section#vision{
	margin-bottom: 0;
}

section#vision > h2{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

section#vision ul {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	list-style-type: none;
}

section#vision li {
	margin:30px auto;
	visibility: hidden;
}

section#vision li img.img-li{
	width : 250px;
	height: 250px;
	object-fit: cover;
	border-radius: 50%;
	padding:0;
	margin: auto;
}

section#vision .col-12{
	margin-top: 20px;
	text-align: center;
	font-size: 1.2rem;
	font-weight: 500;
}

footer {
	background-color: rgba(0, 0, 0, 0.6);
	padding:30px;
	color: white;
}
footer a{
	text-decoration: none;
}
footer h3{
	margin-bottom:30px;
}

span.offset {
	top:-80px;
}

section#vision li.come-in {
	visibility: visible;
	transform: translateY(150px);
	animation: come-in 0.8s ease forwards;
  }
  
  @keyframes come-in {
	to { transform: translateY(0); }
  }